modules = ["web", "nodejs-20"]
run = "npx serve "

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npx serve "]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 33289
externalPort = 3001

[[ports]]
localPort = 34859
externalPort = 3000
